.main-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.input {
  width: 20%;
  height: 70px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .main-div {
    width: 400px;
  }
}
